<ion-view cache-view="false" view-title="dashboard">
    <ion-content>
        <ion-list>
            <div class="item red" ng-show="alertWithStatusOpen.count > 0" ui-sref="main.issues({issuesFiltered: alertWithStatusOpen.referIssuesId})">
                <h2>Incidencias sin atenci&oacute;n</h2>
                <p>M&aacute;s de 1 d&iacute;a con estado <b>Open</b></p>
                <span class="badge badge-stable">{{alertWithStatusOpen.count}}</span>
            </div>

            <div class="item yellow" ng-show="alertCurrentDayWithStatusOpen.count > 0" ui-sref="main.issues({issuesFiltered: alertCurrentDayWithStatusOpen.referIssuesId})">
                <h2>Incidencias sin atenci&oacute;n</h2>
                <p>Actuales con estado <b>Open</b></p>
                <span class="badge badge-stable">{{alertCurrentDayWithStatusOpen.count}}</span>
            </div>

            <div class="item purple" ng-show="alertWithStatusPending.count > 0" ui-sref="main.issues({issuesFiltered: alertWithStatusPending.referIssuesId})">
                <h2>Incidencias sin atenci&oacute;n</h2>
                <p>M&aacute;s de 1 d&iacute;a con estado <b>Pending</b></p>
                <span class="badge badge-stable">{{alertWithStatusPending.count}}</span>
            </div>

            <div class="item orange" ng-show="alertCurrentDayWidhStatusPending.count > 0" ui-sref="main.issues({issuesFiltered: alertCurrentDayWidhStatusPending.referIssuesId})">
                <h2>Incidencias sin atenci&oacute;n</h2>
                <p>Actuales con estado <b>Pending</b></p>
                <span class="badge badge-stable">{{alertCurrentDayWidhStatusPending.count}}</span>
            </div>

        </ion-list>
    </ion-content>
</ion-view> 