<ion-view cache-view="false" view-title="issue-map">
    <ion-content>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
        <ui-gmap-markers models="markers" coords="'coords'" options="'options'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
    </ion-content>
</ion-view> 