<ion-view cache-view="false" view-title="issue-client">
    <ion-content>

        <ion-list>
            <ion-item class="item-image padding">
                <img src="img/image-client-bg.jpg" height="200">
            </ion-item>
            <ion-item>
                <h1>{{client.name}}</h1>
            </ion-item>
            <ion-item>
                {{client.address}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>