<ion-view cache-view="false" view-title="issues">
    <ion-content>

        <ion-list>

            <ion-item ng-repeat="issue in issues | issuesFromDashboard | orderBy: 'status' | orderBy: 'assignationDate' " ui-sref="main.issue-detail({idIssueDetailSelected: issue.id})">
                {{issue.client.name}} {{issue.assignationDate | date: 'dd/MM/yyyy HH:mm'}}
                <span class="item-note">
                    {{issue.info}}
                </span>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>