<ion-view cache-view="false" view-title="issue-detail">
    <ion-nav-buttons side="right">
        <button class="button icon ion-edit"></button>
    </ion-nav-buttons>
    <ion-content>

        <div class="list card">

            <div class="item">
                <h2>{{issue.client.name}}</h2>
                <p>{{issue.client.address}}</p>
            </div>

            <div class="item">
                <div class="list">
                    <label class="item text-right">
                        <p><b>Status:</b> {{status[issue.status]}}</p>
                    </label>
                    <div class="item item-text-wrap">
                        <p ng-bind-html='issue.info'></p>
                    </div>
                    <div class="item item-input">
                        <textarea cols="50" placeholder="Comments"></textarea>
                    </div>
                </div>
            </div>

            <div class="item">
                <p class="text-left">Fecha de Creaci&oacute;n {{issue.creationDate | date}}</p>
                <p class="text-right">Fecha de Asignaci&oacute;n {{issue.assignationDate | date}}</p>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="stable-bg">
        <a class="button button-icon icon ion-ios-person-outline" ui-sref="main.issue-client({idIssueDetailSelected: issue.id, idClientFromIssue: issue.client.id})"></a>
        <div class="h1 title">Options for detail</div>
        <a class="button button-icon icon ion-ios-world-outline" ui-sref="main.issue-map({idIssueDetailSelected: issue.id, idClientFromIssue: issue.client.id})"></a>
    </ion-footer-bar>

</ion-view> 