<ion-view cache-view="false" view-title="AST-App">
    <ion-content>
        <ion-list>

            <label class="item item-input">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>

            <div class="button-bar padding">
                <button class="button button-balanced" ui-sref="main.dash">Ingresar</button>
            </div>
        </ion-list>

    </ion-content>
</ion-view> 