<ion-tabs class="tabs-icon-top">

    <ion-tab title="Dashboard" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" ui-sref="main.dash">
        <ion-nav-view name="main-dashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Issues" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" ui-sref="main.issues({issuesFiltered:'0'})">
        <ion-nav-view name="main-issues"></ion-nav-view>
    </ion-tab>

</ion-tabs>